body {
    list-style: none;
    background-color: aliceblue;
}

.header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    background-color: rgb(84, 84, 170);
}

.search-form {
    position: relative;
    top: 15px;
}

.header__input {
    min-width: 300px;
    height: 40px;
    border: solid 2px rgb(24, 24, 116);
    border-style: none;
    outline: none;
    padding: 0px 0px 0px 15px;
    background-color: rgb(255, 255, 255);
}

.header__button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-style: none;
    border: solid 2px rgb(24, 24, 116);
    border-radius: 5%;
    position: absolute;
    right: 0;
}


.section {

    text-align: center;
    max-width: 1600px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {

    margin: 0px auto;
    background-color: rgb(204, 170, 245);
    width: 1400px;
}

.gallery {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.photo {

    &__card {
        display: flex;
        flex-basis: calc(25% - 15px);
    }

    &__link {
        text-decoration: none;
        background-color: aliceblue;

        overflow: hidden;
        border: solid 2px rgb(24, 24, 116);
        border-radius: 5%;
    }

    &__item {
        display: block;

        max-width: 100%;

        max-height: 100%;
    }
}


.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
    color: rgb(28, 28, 84);


    &__box {
        display: block;
        margin: 0px;
        height: 60px;
    }

    &__text {
        display: block;
        margin-bottom: 5px;
    }

    &__item {
        display: block;
        font-style: normal;

    }
}

.load__more {
    display: none;


    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(24, 24, 116);
    border-radius: 10px;
    margin-top: 30px;
    padding: 15px;

}